@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Carme, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 175px;
    margin-left: 175px;
    line-height: 15px;
}

#first-main-heading {
    margin-top: 30px;
}

#second-main-heading {
  text-transform: none;
  font-size: 200%;
}

h2 {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-size: 150%;
    margin-top: -50px;
    padding-top: 50px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h3 {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.h3-videos-headings h3 {
    line-height: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 0;
}

#h3-videos-heading-1 {
    margin-top: 50px;
}

/* Navigation */

a {
    text-decoration: none;
    color: black;
}

.navbar-container {
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    position: fixed;
}

.navbar {
    justify-content: space-between;
    background-color: #C0C0C0;
    display: flex;
    margin-right: 0;
    padding-right: 10px;
}

.logo {
    padding: 10px;
}

.menu {
    align-items: center;
    display: flex;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.menu ul {
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    display: flex;
    background-color: white;
    padding-right: 15px;
}

.menu li {
    margin-right: 5px;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: black;  
}

/* Header */

#home-image-1 {
    justify-content: center;
    display: flex;
    flex-direction: row;    
}

#home-image-1 img {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 580px;
    width: 66%;
}

#header-logo-image {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

/* Main */

main {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.8em;
    text-transform: none;
    text-align: justify;
}

main a {
    text-decoration: none;
    color: #0000FF;
}

main a:hover {
  border-bottom: 1px solid #0000FF;
}

main p {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 175px;
    margin-left: 175px;
}

.main-lists {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 175px;
    margin-left: 175px;  
}

main img {
    max-width: 50%;
    height: auto;
    align-items: center;
}

.main-img {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

/* Gallery */

#gallery-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

/* Videos */

iframe {
    width: 560px;
    height: 315px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

.footer-container {
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    position: fixed;
}

.footer {
    justify-content: space-between;
    padding: 2px;
    background-color: #C0C0C0;
    display: flex;
}

.copyright-notice {
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.social.media.icons {
    align-items: center;
    display: flex;
}

.social-media-icons ul {
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    background-color: #C0C0C0;
    color: black;
}

.social-media-icons li {
    margin-left: 160px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

/* Media queries */

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    #home-image-1 img {
        height: auto;
        width: 80%;
    }  
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #home-image-1 {
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;    
    }
    
    #home-image-1 img {
        height: auto;
        width: 80%;
    }

    #second-main-heading {
        text-transform: none;
        font-size: 150%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}